<div id="<%= dom_id minute %>">
  <h1><%= minute.title %></h1>

  <p>
    <strong>Release branch:</strong>
    <%= minute.release_branch %>
  </p>

  <p>
    <strong>Release note:</strong>
    <%= minute.release_note %>
  </p>

  <p>
    <strong>Other:</strong>
    <%= minute.other %>
  </p>

</div>
