<h1><%= @minute.title %></h1>

<h2>ふりかえり</h2>

<h3>出席</h3>
<%= content_tag :div, id: 'attendee', data: {minute_id: @minute.id}.to_json do %><% end %>

<h3>今週のリリースの確認</h3>
<p>木曜日の15時頃リリースします。</p>
<%= content_tag :div, id: 'release_branch_form', data: {minute_id: @minute.id, informationType: 'releaseBranch', release_information: @minute.release_branch}.to_json do %><% end %>
<%= content_tag :div, id: 'release_note_form', data: {minute_id: @minute.id, informationType: 'releaseNote', release_information: @minute.release_note}.to_json do %><% end %>

<h3>話題にしたいこと・心配事</h3>
<p>明確に共有すべき事・困っている事以外にも、気分的に心配な事などを話すためにあります。</p>
<%= content_tag :div, id: 'topics', data: {minute_id: @minute.id, minute_topics: @minute.topics}.to_json do %><% end %>
<%= content_tag :div, id: 'topic_form', data: {minute_id: @minute.id}.to_json do %><% end %>

<h3>その他</h3>
<%= content_tag :div, id: 'other_form', data: {minute_id: @minute.id, content: @minute.other}.to_json do %><% end %>

<h2>次回のMTG</h2>
<%= content_tag :div, id: 'next_date_form', data: {minute_id: @minute.id, next_date: @minute.next_date}.to_json do %><% end %>

<h2>計画ミーティング</h2>
<ul>
  <li>プランニングポーカー</li>
</ul>

<h2>欠席者</h2>
<%= content_tag :div, id: 'absentee', data: {minute_id: @minute.id}.to_json do %><% end %>


<div>
  <%= link_to "Show this minute", @minute %> |
  <%= link_to "Back to minutes", minutes_path %>
</div>
