<h1><%= @minute.title %></h1>

<h2>今週のリリースの確認</h2>
<p>木曜日の15時頃リリースします。</p>
<%= content_tag :div, id: 'release_branch_form', data: {minute_id: @minute.id}.to_json do %><% end %>
<%= content_tag :div, id: 'release_note_form', data: {minute_id: @minute.id}.to_json do %><% end %>

<h2>話題にしたいこと・心配事</h2>
<p>明確に共有すべき事・困っている事以外にも、気分的に心配な事などを話すためにあります。</p>
<%= content_tag :div, id: 'topics', data: {minute_id: @minute.id}.to_json do %><% end %>
<%= content_tag :div, id: 'topic_form', data: {minute_id: @minute.id}.to_json do %><% end %>

<h2>その他</h2>
<%= content_tag :div, id: 'other_form', data: {minute_id: @minute.id}.to_json do %><% end %>

<div>
  <%= link_to "Show this minute", @minute %> |
  <%= link_to "Back to minutes", minutes_path %>
</div>
