<p style="color: green"><%= notice %></p>

<h1>Minutes</h1>

<div id="minutes">
  <% @minutes.each do |minute| %>
    <p>
      <%= link_to minute.title, minute %>
    </p>
  <% end %>
</div>

<%= link_to "New minute", new_minute_path %>

<% unless member_signed_in? %>
  <div>
    <p>
      メンバー登録されていない方 : <%= link_to 'メンバー登録', new_member_registration_path  %>
    </p>
    <p>
      メンバー登録されている方 : <%= link_to 'ログイン', new_member_session_path %>
    </p>
  </div>
<% end %>
