<p style="color: green"><%= notice %></p>

<%= render 'minute', minute: @minute, day_attendees: @day_attendees, night_attendees: @night_attendees, topics: @minute.topics, absent_members: @absent_members %>

<div>
  <%= link_to "Edit this minute", edit_minute_path(@minute) %> |
  <%= link_to "Back to minutes", minutes_path %>

  <%= button_to "Destroy this minute", @minute, method: :delete %>
</div>
