<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Meeting week:</strong>
    <%= course.meeting_week %>
  </p>

  <div>
    <strong>所属メンバー一覧</strong>
    <% course.members.each do |member| %>
      <div>
        <!--GitHub認証を行っていないユーザーデータが存在するため、if条件をつけておく-->
        <% if member.avatar_url %>
          <%= image_tag(member.avatar_url, size: '50x50', alt: 'ユーザーのアイコン画像') %>
        <% end %>
        <%= link_to member.login_name, member %>
      </div>
    <% end %>
  </div>

</div>
