<p style="color: green"><%= notice %></p>

<%= render @course %>

<div>
  <%= link_to "Edit this course", edit_course_path(@course) %> |
  <%= link_to "Back to courses", courses_path %>

  <%= button_to "Destroy this course", @course, method: :delete %>
</div>

<div>
  <p>
    議事録一覧 : <%= link_to 'All Minutes', course_minutes_path(@course) %>
  </p>
  <p>
    議事録作成 : <%= link_to 'Create minute', new_course_minute_path(@course) %>
  </p>
</div>